.device-list-item {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  vertical-align: middle;
}
.device-table-header {
  width: 100%;
  text-align: center;
}

.device-list-item:hover {
  background-color: red;
}

.sidebar {
  height: 100%;
}

.pov-report {
  background: #71b;
  height: 100%;
  width: 75%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.page-header {
  border: "1px solid rgb(235, 237, 240)";
  background-color: #fff;
}
.white-background {
  background: #fff;
}
