.device-list-item {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  vertical-align: middle;
}
.device-table-header {
  width: 100%;
  text-align: center;
}

.device-list-item:hover {
  background-color: red;
}

.pov-report {
  background-color: #82bbcd;
  height: "100%";
}
